# Port number
PORT=3000

# Environment 
NODE_ENV=development

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/farmsent

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# Smart api angel broking keys
x_client_public_ip=
x_client_local_ip=
x_mac_address=
# API key provided by Angel broking
x_private_key=